<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.papyrus.moka.launchConfiguration">
<stringAttribute key="FRAGMENT_ATTRIBUTE" value="_4DGHUBH5EeacS95g8LcH8g"/>
<stringAttribute key="URI_ATTRIBUTE" value="platform:/resource/lab2_example/BasicActiveObjectExample.uml"/>
</launchConfiguration>
